<h1>Please submit the item you wish to purchase</h1>

<form action="/checkout" method="post">
  <label for="item">Item to purchase: </label>
  <input type="text" name="item">
  <input type="submit" id="submit" value="Add to Cart">
</form>
